In [1]:
import pandas as pd

In [2]:
#Read csv file
df=pd.read_csv('2015_Ie_Tr.csv')

In [3]:
#Print first 5 rows
df.head()

,Country,January,February,March,April,May,June,July,August,September,October,November,December,Yearly average
0,Ireland,206.20,206.00,206.50,206.80,207.20,207.60,207.40,207.40,207.30,207.20,207.60,207.4,207.10
1,Turkey,97.13,97.65,98.27,99.14,100.17,100.03,100.83,101.35,102.25,101.56,101.01,100.6,100.53

In [4]:
# Check the information of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         2 non-null      object
 1   January         2 non-null      float64
 2   February        2 non-null      float64
 3   March           2 non-null      float64
 4   April           2 non-null      float64
 5   May             2 non-null      float64
 6   June            2 non-null      float64
 7   July            2 non-null      float64
 8   August          2 non-null      float64
 9   September       2 non-null      float64
 10  October         2 non-null      float64
 11  November        2 non-null      float64
 12  December        2 non-null      float64
 13  Yearly average  2 non-null      float64
dtypes: float64(13), object(1)
memory usage: 352.0+ bytes
None

In [5]:
# Check the data types of the DataFrame
print(df.dtypes)

Country            object
January           float64
February          float64
March             float64
April             float64
May               float64
June              float64
July              float64
August            float64
September         float64
October           float64
November          float64
December          float64
Yearly average    float64
dtype: object

In [6]:
# Get the statistical summary of the DataFrame
print(df.describe())

          January   February       March      April         May        June   \
count    2.000000    2.00000    2.000000    2.000000    2.000000    2.000000
mean   151.665000  151.82500  152.385000  152.970000  153.685000  153.815000
std     77.124137   76.61502   76.530167   76.127116   75.681639   76.063476
min     97.130000   97.65000   98.270000   99.140000  100.170000  100.030000
25%    124.397500  124.73750  125.327500  126.055000  126.927500  126.922500
50%    151.665000  151.82500  152.385000  152.970000  153.685000  153.815000
75%    178.932500  178.91250  179.442500  179.885000  180.442500  180.707500
max    206.200000  206.00000  206.500000  206.800000  207.200000  207.600000

           July       August  September     October    November    December  \
count    2.00000    2.000000    2.000000    2.00000    2.000000    2.000000
mean   154.11500  154.375000  154.775000  154.38000  154.305000  154.000000
std     75.35637   74.988674   74.281567   74.69876   75.370512   75.519004
min    100.83000  101.350000  102.250000  101.56000  101.010000  100.600000
25%    127.47250  127.862500  128.512500  127.97000  127.657500  127.300000
50%    154.11500  154.375000  154.775000  154.38000  154.305000  154.000000
75%    180.75750  180.887500  181.037500  180.79000  180.952500  180.700000
max    207.40000  207.400000  207.300000  207.20000  207.600000  207.400000

       Yearly average
count         2.00000
mean        153.81500
std          75.35637
min         100.53000
25%         127.17250
50%         153.81500
75%         180.45750
max         207.10000