In [1]:
import pandas as pd

In [2]:
#Read csv file
df=pd.read_csv('2015_Ie_Tr.csv')

In [3]:
#Print first 5 rows
df.head()

,Country,January,February,March,April,May,June,July,August,September,October,November,December,Yearly average
0,Ireland,206.20,206.00,206.50,206.80,207.20,207.60,207.40,207.40,207.30,207.20,207.60,207.4,207.10
1,Turkey,97.13,97.65,98.27,99.14,100.17,100.03,100.83,101.35,102.25,101.56,101.01,100.6,100.53